{% extends 'base.html.twig' %}

{% block body %}

{% if app.user is null %}
    {% include "security/login_form.html.twig" %}
{% endif %}

<div class="row my-5">
    <div class="col">
        {{ form_start(form) }}
            {{ form_widget(form.content) }}
            <button class="btn btn-primary mt-3">Proposer un tweet</button>
        {{ form_end(form) }}
    </div>
</div>

<div class="card-columns">
    {% for tweet in unsafeTweets %}
        <div class="card border-{{ cycle(['primary', 'secondary'], loop.index0) }} mb-3">
            <div class="card-header d-flex justify-content-between">
                <span>{{ tweet.createdAt|date('d M Y à H\\hi') }}</span>
                <a href="{{ path('tweet_moderate', {id: tweet.id}) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ tweet.content }}</h4>
            </div>
        </div>
    {% endfor %}
</div>


<div class="card-columns">
    {% for tweet in safeTweets %}
        <div class="card border-{{ cycle(['primary', 'secondary'], loop.index0) }} mb-3">
            <div class="card-header">{{ tweet.createdAt|date('d M Y à H\\hi') }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ tweet.content }}</h4>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
