{% extends 'base.html.twig' %}

{% block body %}

<div class="row my-5">
    <div class="col">
        {{ form_start(form) }}
            {{ form_widget(form.content) }}
            <button class="btn btn-primary mt-3">Proposer un tweet</button>
        {{ form_end(form) }}
    </div>
</div>

<div class="card-columns">
    {% for tweet in tweets %}
        <div class="card border-{{ cycle(['primary', 'secondary'], loop.index0) }} mb-3">
            <div class="card-header">{{ tweet.createdAt|date('d M Y à H\\hi') }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ tweet.content }}</h4>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
